.banner{
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.4);
    
}
.img{
    width: 100%;
    height: auto;
    filter: brightness(0.5);
}
.text{
    position: absolute;
    color: white;
    width: 100%;
    text-align: center;
    font-family: "MergeBlack", sans-serif;
    z-index: 1;
    font-size: 45px;
    
}

.icon{
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    font-size: 45px;
}
.icon-r,
.icon-l{
    background: #FAC437;
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
    
}