p{
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;;
    margin: 1rem 0;

}
h1{
    margin: 2rem 0;
    font-family: "MergeBlack";
    color: #AD1C00;
    font-size:36px;
}
.photo-row-responsive{
    width: 100%;
    display: flex;
}
.backround{
    background-color: #FAC437;
    width: 100%;
    height: 519.89px;
    position : relative;
}
.anh_background{
    display:block;
    max-width: 100%;
    height:auto;
    margin:0 auto;    
}
.container{
    width:100%;
    height:400px ;
    display: flex;
    position: absolute;
    bottom: 0;
}
/* .container-item{

} */
.img-100{
    width: 100%;
    height: 100%;
}
.doan_van{
    width: 807.46px;
    height:282.46px;
    margin: 0px 0px 16px;
    padding-top: 75px;
    
}
.photo
{
    display: flex;
    background-color:#950E08;
}
.btn_container{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-item{
    /* display: block; */
    width: 50%;
}
.button{
    margin: 0;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    margin-right: 5px;
    text-align: center;
    transition: all 0.5s;
    color:white;
}
.button::after {
    content: '';
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    -o-transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
    top: -4px;
    left: -4px;
    padding: 4px;
    -webkit-box-shadow: 0 0 0 2px #fff;
    box-shadow: 0 0 0 2px #fff; }
.button:hover{
    background: white;
    color: #CE181F;
    
}
.button:hover::after{
    -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      opacity: 1;
}
.center{
    position: relative;
    top: 10px;
}
.content_1{
    height:519.6px;
    background-color: #FFDE94;
    padding: 64px ;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.p_1{
    text-align: justify;
    text-align-last: center;
}
.about_me{
    width: 100%;
    height: 950px;
    position:relative;
    z-index: 1;
    
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.item{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: #fff;
    font-family: "MergeBlack";
    font-size: 1.200rem;
    padding: 15px;
}
.title{
    color: #fff;
    text-align: center;
    margin-top:0;
    padding-top: 95px;
}
.fa{
    line-height:2;
    
}
.filter::before,.filter::after{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.filter::before{
    content:"";
    background-image: url("../img/anh_thumuc2/about-bg2.jpg");
    background-size:cover;
    z-index: -2;
}
.filter::after{
        content: "";
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;
}
.mission
{
    position: relative;
    padding: 5rem;
    background-color: #FCE7B9;
}
.mission > .row{
    background-color: #fff;
    max-width: 1200px;
    margin: 0 auto;
}

.col-sm-6{
    width:50%;
    /* height:100%; */
}
.image{
    width:100%;
    height:100%;
}
.container_3{
    display:flex;
    direction:row;
    box-shadow: 0 0 4px 4px rgb(0 0 0 / 30%);
 
}
.content{
    width: 45%;
    height: 100%;
    margin-left:38px;
}
.no-padding {
    padding-left: 0;
    padding-right: 0;
}
.the_p{
    width: 100%;
}
.title_2{
    color: #AD1C00;
    font-size: 40px;
    margin-top:0;
    padding-top: 50px;
}
@font-face {
    font-family: MergeBlack;
    src: url("../Font/MergeBlack.woff");
}


@media (max-width: 851px) {
   .container_3{
    display:table;
    
   }
   .image{
    float:left;
   }
   .content{
    margin: 0;
    width:100%;
   }
   .content_1
   {
    padding:0;
   }

}
@media (max-width: 749px) {
    .anh_background{
        display:none;
       }
    .container_3{
        display:flex;
        
       }
       .col-sm-6{
        width: 100%;
       }
       .item{
        margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding:0;
       }
       .col-xs-6{
        width: 50%;
       }
}
@media only screen and  (max-width: 991px) {
    .photo{
        flex-direction: column;
    }
    .photo-row-responsive{
        width: 100%;
        display: flex;
    }
    .container-item{
        width:50%;
    }
    .anh_background{
       display: none;
    }
    .header-logo{
        display: none;
    }
    .content_1{
        padding:0 7px;
    }
    .doan_van{
        width: 100%;
        height: 100%;
        padding:0 10px;
       }
    .footer > .footer-img {
        display: none;
    }

    .footer > .footer-text {
        width: 100%;
        float: none;
        padding: 30px 0 18px;
    }
}
/* 
@media (max-width: 767px) {
    .address {
        display: none;
    }
    .footer .confirm-logo {
        margin-bottom: 20px;
    }

    .footer .list-page {
        text-align: center;
    }
    .col-sm-6 {
        width: 100%;
    }

    .col-sm-8 {
        width: 100%;
    }
    .img-responsive {
        display: inline-block;
    }

} */
